@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background: rgb(253, 253, 253);
    height: 100px;
    
}
.img {
    background-image: url(fondo\ pagina2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
   
}
.Titulo{
    text-align: center;
    padding: 20px;
    line-height: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Formulario{
    width: 500px;
    background: #ffffff;
    margin: auto;
    border-radius: 15px;
    font-family: 'calibri';
    color: rgb(22, 20, 20);
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
    height: 380px;
}
button {
    background-color: #c5c5c5;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20 160px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  button:hover{

    background-color: #f07a03;
    color: white;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;

  }
  .Formulario h2 {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
  }
  .Titulo {
    text-align: center;
    padding: 20px;
    line-height: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  h1 {
    color: #000000;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 145, 0);
  }
  
  .active {
    background-color: #f07a03;
  }
  .titulo {
    color: black;
  }
  header .texto-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .texto-header h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
  }
  .texto-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: rgb(0, 0, 0);
  }
  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  header {
    width: 100%;
    height: 600px;
    background: #f7971e;
    background: -webkit-linear-gradient(
        to right,
        hsla(49, 100%, 50%, 0.616),
        hsla(33, 93%, 54%, 0.637)
      ),
      url(/imagenes/imagen\ portafolio.jpg);
    background: linear-gradient(
        to right,
        hsla(49, 100%, 50%, 0.616),
        hsla(33, 93%, 54%, 0.637)
      ),
      url(/imagenes/imagen\ portafolio.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .footer {
    margin: 100px 0px;
    max-width: 5000%;
    overflow: 1000px;
    padding: 50px 50px;
    max-height: 5000%;
    background: #000000;
  }
  .h4 {
    color: #fff;
    padding: 15px 30px;
    text-align: center;
  }
  .p1 {
    color: #fff;
    padding: 50px 100px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  
  .inform {
    color: rgba(255, 166, 0, 0.849);
    padding: 20px 30px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .panel{
    width: 250px;
  }
  .img2 {
    margin: 22px 5px;
    height: 50%;
    max-width: 200px;
    max-height: 200px; 
  }
  .Registro{
    margin: -210px 200px;
  }
  .Registro-2{
    margin: 220px 200px;
  }
  .Registro-3{
    margin: -209px 200px;
  }
  .caja{
    padding: 5px 10px;
    text-align: left;
  }
  .recreador{
    margin: 220px 200px;
    font-size: 40px;
    font-family: 'Metal', cursive;
  }
  .menuP{
    font-family: 'Galdeano', sans-serif;
  }
  .salir{
    float: right;
  }
  .nombreB{
    color: white;
    margin-left: 800px;
    margin-top: 28px;
  }
  .salirT{
    padding-right: 90px;
    text-align: center;
  }