* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(253, 253, 253);
  height: 1000px;
}
.Titulo {
  text-align: center;
  padding: 20px;
  line-height: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Formulario {
  width: 915px;
  background: #ffffff;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  font-family: "calibri";
  color: #161414;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.364);
}

.Formulario h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.Registro {
  width: 380px;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.Formulario p {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}
.Formulario a {
  color: white;
  text-decoration: none;
}
.select {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 5px 15px 5px 51px;
  width: 380px;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  text-align: center;
}
button {
  background-color: #c5c5c5;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20 25px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

header {
  width: 100%;
  height: 600px;
  background: #f7971e;
  background: -webkit-linear-gradient(
      to right,
      hsla(49, 100%, 50%, 0.616),
      hsla(33, 93%, 54%, 0.637)
    ),
    url(imagen\ portafolio.jpg);
  background: linear-gradient(
      to right,
      hsla(49, 100%, 50%, 0.616),
      hsla(33, 93%, 54%, 0.637)
    ),
    url(imagen\ portafolio.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a {
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
nav > a:hover {
  text-decoration: underline;
}
header .texto-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.texto-header h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.texto-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  line-height: 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(255, 98, 0);
}

.active {
  background-color: #f07a03;
}

.footer {
  margin: 100px 0px;
  max-width: 5000%;
  overflow: 1000px;
  padding: 50px 50px;
  max-height: 5000%;
  background: #000000;
}
.p1 {
  color: #fff;
  padding: 50px 100px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.inform {
  color: rgba(255, 166, 0, 0.849);
  padding: 20px 30px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.salir {
  float: right;
}
.salir a {
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 30px 16px;
  line-height: 30px;
  text-decoration: none;
  width: 200px;
}
.menuP{
  font-family: 'Galdeano', sans-serif;
}
.inicio{
  float: left;
}    
/*Organizand cajas*/
.nombre{
  margin-left: 45px;
}
.apellidos{
  margin-top: -100px;
  margin-left: 480px;
}
.usuario{
  margin-left: 45px;
}
.correo{
  margin-top: -100px;
  margin-left: 480px;
}
.telefono{
  margin-left: 45px;
}
.genero{
  margin-top: -100px;
  margin-left: 480px;
}
.contraseña{
  margin-left: 45px;
}
.confir{
  margin-top: -100px;
  margin-left: 480px;
}
.codigo{
  margin-left: 45px;
}
.codigo2{
  width: 820px;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
input:focus {
  outline: none;
}
.boton{
  margin-left: 45px;
  width: 825px;
  padding: 10px;
  border-radius: 2px;
  background: #ecb297;
}
.cancelar{
  margin-top: -10px;
}
.hover:hover{
  background-color: #f07a03;
  color: #fefcfc;
}
.cabecera {
  background: #13334c;
  color:azure;
  text-align: center;
  border-bottom: 45px solid white;
  padding: 20px 40px;
}
/*Diseño de fondo*/
.bola1{
  width: 100px;
  height: 100px;
  background-color: #afc6d7fd;
  border-radius: 50px 50px 50px 50px;
  position: absolute;
  margin-top: -600px;
  margin-left: 125px;
  box-shadow:8px 8px 8px #9db9cf;
}
.bola2{
  width: 65px;
  height: 100px;
  background-color: #13334c;
  border-radius: 1000px 50px 100px 1000px;
  position: absolute;
  margin-top: -100px;
  margin-left: 150px;
  box-shadow:3px 2px 3px #9db9cf;
}
.bola3{
  width: 115px;
  height: 115px;
  background-color: #5986a8e8;
  border-radius: 50%;
  position: absolute;
  margin-top: -883px;
  margin-left: 855px;
  box-shadow:8px 8px 8px #9db9cf;
}
.bola4{
  width: 150px;
  height: 150px;
  background-color: #afc6d7fd;
  border-radius: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: 1150px;
  box-shadow:8px 8px 8px #9db9cf;
}
.bola5{
  width: 100px;
  height: 100px;
  background-color: #7c9db5fd;
  border-radius: 50%;
  position: absolute;
  margin-top: -915px;
  margin-left: 95px;
  box-shadow:8px 8px 8px #9db9cf;
}
.bola6{
  width: 95px;
  height: 95px;
  background-color: #7c9db5fd;
  border-radius: 50%;
  position: absolute;
  margin-top: -550px;
  margin-left: 1190px;
  box-shadow:8px 8px 8px #9db9cf;
}
.contenedorP{
  position: relative;
}





