* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(253, 253, 253);
  height: 1000px;
}
.Titulo {
  text-align: center;
  padding: 20px;
  line-height: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Formulario {
  width: 1000px;
  background: #ffffff;
  padding: 45px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  font-family: "calibri";
  color: rgb(22, 20, 20);
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  text-align: center;
}

.Formulario h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.Formulario p {
  height: 40px;
  text-align: left;
  font-size: 18px;
  line-height: 40px;
}
.Formulario a {
  color: white;
  text-decoration: none;
}
header {
  width: 100%;
  height: 600px;
  background: #f7971e;
  background: -webkit-linear-gradient(
      to right,
      hsla(49, 100%, 50%, 0.616),
      hsla(33, 93%, 54%, 0.637)
    ),
    url(/imagenes/imagen\ portafolio.jpg);
  background: linear-gradient(
      to right,
      hsla(49, 100%, 50%, 0.616),
      hsla(33, 93%, 54%, 0.637)
    ),
    url(/imagenes/imagen\ portafolio.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a {
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}
nav > a:hover {
  text-decoration: underline;
}
header .texto-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.texto-header h1 {
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.texto-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  line-height: 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #f07a03;
}
.img2 {
  float: left;
  margin: 2px 5px;
  height: 50%;
  max-width: 200px;
  max-height: 200px; 
}
.footer {
  margin: 50px 15px;
  max-width: 5000%;
  overflow: 1000px;
  padding: 30px 30px;
  max-height: 1000%;
  background: #000000;
}
.h4{
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}
.p1{
  color: #fff;
  padding: 50px 100px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.inform{
  color: rgba(255, 166, 0, 0.849);
  padding: 20px 30px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
button{
  background-color: #c5c5c5;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50 100px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 102px;
}
button:hover{

  background-color: #f07a03;
  color: white;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.img {
  background-image: url(/imagenes/fondo\ pagina2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 1800px;
  background-attachment: fixed;
  background-size: cover; 
}
.nombre{
margin-left: 250px;
}
.NombreI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 450px;
cursor: not-allowed;
}
/*Modificacion de inputs*/

.apellido{
margin: -85px;
margin-left: 580px;
}
.numeroC{
margin-top: 200px;
}
.apellidoI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 450px;
cursor: not-allowed;
}
.numeroC{
margin: 100px;
margin-left: 250px;
}
.numeroCI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 350px;
cursor: not-allowed;
}
.fechaN{
margin-left: 580px;
margin-top: -185px;
}
.fechaNI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 350px;
cursor: not-allowed;
}
.edad{
margin-top: 10px;
margin-left: 250px;
}
.edadI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 480px;
cursor: not-allowed;
}
.telefono{
margin-left: 580px;
margin-top: -85px;
}
.telefonoI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 480px;
cursor: not-allowed;
}
.direccion{
margin-top: 10px;
margin-left: 250px;
}
.direccionI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 480px;
cursor: not-allowed;
}
.eps{
margin-left: 580px;
margin-top: -85px;
}
.epsI{
width: 250px;
background: #ffffff;
padding: 10px;
border-radius: 4px;
border: 1px solid #000000;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
font-size: 18px;
text-align: left;
margin-right: 480px;
cursor: not-allowed;
}
.info{
float: left;
border: #000000 solid 0.1px;
margin-top: -150px;
height: 280px;
width: 213px;
}
.tituloP{
padding: 5px;
}
.contenido{
padding: 5px;
}