@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;  
  }

 
body,
html{
    font-family: 'Montserrat',sans-serif;
}
h1{
    font-size: 2.5rem;
}

h4{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
  }
  
  a { text-decoration: none; }
  
  
  .container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
  }
  
  .large {
    font-size: 1.25rem;
  }
  
  .display-1 {
    font-size: 72px;
    font-weight: 400;
  }
  
  .text-yellow {
    color: #F5B637;
  }
  
  .btn {
    display: inline-block;
    font-size: 15px;
    padding:12px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
  }
  
  .btn-light {
    background: #F5B637;
    color: #FFF;
    border: none;
  }
  
  .btn-100 {
    width: 100%;
  }
  
  form label{
    display: inline-block;
    margin-bottom: 10px;
  }
  
  form .form-group {
    margin-bottom: 16px;
  }
  
  form .form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ededed;
    border: 1px solid #ededed;
    border-radius: 4px;
  }
  
  
  #navbar {
    background: #0A0B45;
    color: #fff;
    overflow: auto;
    padding-top: 25px;
    height: 12vh;
  }
  
  #navbar a {
    color: #fff;
  }
  
  #navbar .logo {
    float: left;
    padding-top:16px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
  }
  
  
  #showcase {
    background: linear-gradient(to right, #ff9812, #eed1a7);
    color: #fff;
    height: 88vh;
    padding-top: 160px;
  }
  
  .showcase-title {
    float: left;
    width: 50%;
    padding-right: 10px;
  }
  
  .showcase-title p {
    padding: 20px 0;
  }
  
  .showcase-img {
    float: right;
    width: 40%;
    padding: 30px;

  }
  
  .showcase-img img {
    width: 100%;
  }
  
  
  #features {
    padding: 90px 120px;
  }
  
  .features-card {
    padding-top: 70px;
  }
  
  .card {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  
  #testimonial {
    background: #0a0b45;
    color: #fff;
    padding: 90px 120px;
    text-align: center;
  }
  
  #testimonial h4 {
    padding-bottom: 50px;
  }
  
  #testimonial p {
    width: 70%;
    margin: 0 auto;
  }
  
  /* Contact */
  #contact {
    padding: 90px 120px;
  }
  
  #contact form {
    padding-top: 90px;
    width: 70%;
    margin: 0 auto;
  }
  
  /* Footer */
  #mainfooter {
    background: #0a0b45;
    text-align: center;
    padding: 30px;
  }